<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div><a href="">Основное меню</a></div>

<div><a href="/groupe/init/">Группы товаров</a></div>

<div><a href="/product/action">Получить новые данные сайта Стройпарк</a></div>

<div><a href="/product/listall/">Данные из базы данных</a></div>

<div><a href="/transfer/">Перемещения с Центрального в СНТБ8</a></div>

<br/><br/>
<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>
</body>
</html>